[defaults]
interpreter_python = /usr/bin/python3.7
callback_whitelist = profile_tasks
# callback_enabled = ansible.posix.profile_tasks
local_tmp = /tmp
# stdout_callback = community.general.timestamp
stdout_callback = default
